body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: #334147;
    font-style: italic;



}

#container {

    width: 50%;
    margin: 3% auto;
    padding: 20px;
    background-color: rgb(234, 242, 243);
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    text-align: center;

}


h1 {
    text-align: center;
    color: #32466a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;

}

label {
    font-size: 1rem;
    color: #34495e;
    margin-bottom: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

form>div {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

input[type="checkbox"] {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-container {
    width: 100%;  
    overflow-x: auto; 
    margin-top: 20px;  
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #32466a;
}

td {
    background-color: #fff;
    color: #34495e;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #c82333;
}

button.delete:active {
    background-color: #bd2130;
}